<footer class="mt-auto py-3 text-center" style="opacity: 0.4;">

  <small class="text-muted mb-2">
    <a  href="https://jamstackthemes.dev/theme/portfolyou/" style="color: #915549;">portfolYOU</a> theme by <a href="https://github.com/YoussefRaafatNasry" style="color: #915549;">YoussefRaafatNasry</a>
  </small><br>
  <small class="text-muted mb-2">
    <a  href="https://icons8.com/icon/47951/이력서" style="color: #915549;">이력서</a>, <a  href="https://icons8.com/icon/F6H2fsqXKBwH/notion" style="color: #915549;">Notion</a> icon by <a href="https://icons8.com" style="color: #915549;">Icons8</a>
  </small>

</footer>