<div class="row justify-content-center align-items-center p-4">
  <div class="col-md-6 text-center mt-4">

	<!-- Fine Circle Responsive Image -->
	<div id="container" class="my-2" style="width: 60%;">
	  <div id="dummy"></div>
	  <div id="element">
		<img src="/assets/profile.jpeg" alt="Your awesome title" class="circle-image wow animated zoomIn" data-wow-delay=".1s" />
	  </div>
	</div>
	
	<div class="text-muted wow animated slideInUp">
	  <h2><strong>Introduce</strong></h2>
	  <p data-wow-delay=".15s"> <br>안녕하세요, <span style="text-decoration: underline #915549; text-underline-offset: 4px;">풀 스택 개발자</span>를 지향하는 차현경입니다.<br>
	  <br>새로운 것을 배우고 팀에 도움 되는 결과물을 낼 때 즐겁습니다.<br>짧지 않더라도 협업에서 시간을 단축할 수 있는<br><span style="text-decoration: underline #915549; text-underline-offset: 4px;">단순하고 분명한 코드</span> 만들기를 좋아합니다.<br>
	  <br>팀 프로젝트에서 충돌 보완에 할애하는 시간을 단축시키고자<br>공통파일 관리를 맡은 경험이 있습니다.</p>
	  <br>
	  <h2><strong>Contact</strong></h2>
	  <p data-wow-delay=".15s"> <br><strong>Phone.</strong> 010-3908-9070<br><strong>Email.</strong> chagusrud@naver.com</p>
	</div>

  </div>
</div>