<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

	<!-- Fine Circle Responsive Image -->
	<div id="container" class="my-2">
	  <div id="dummy"></div>
	  <div id="element">
		<img src="/assets/profile.jpeg" alt="Your awesome title" class="circle-image wow animated zoomIn" data-wow-delay=".1s" />
	  </div>
	</div>
	
	<h2 class="text-muted wow animated slideInUp"><strong>Contact</strong></h2>
	
	<p class="text-muted wow animated slideInUp" data-wow-delay=".15s"> <br><strong>Phone.</strong> 010-3908-9070<br><strong>Email.</strong> chagusrud@naver.com</p>

  </div>
</div>