<nav class="navbar navbar-expand-lg navbar-themed">

  <a class="navbar-brand" href="/"><h5><b>About me</b></h5></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-1x fa-bars text-themed"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
	
	  <a class="nav-item nav-link " href="/about/">Skill</a>

      <a class="nav-item nav-link " href="/elements/">Projects</a>
	  
	  <a class="nav-item nav-link " href="https://github.com/pabbajo"><i class="fab fa-1x fa-github"></i></a>
	  
	  <a class="nav-item nav-link " href="https://ten-fossa-1be.notion.site/556cc9dda3e24daca149e658df6977c5?pvs=4">
		<img style="margin-bottom: 4px; opacity: 0.7;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAACC0lEQVR4nLWUz6sSURTHX0HRok3RLqigRdAmyFUhXM6548yIP8bNYIigi9CFf4BuRBFczaZAn0tXuhbEtRoKrweJqdD48klIEmjwmJIWynjjTj0oUl+96guHyz33fD+cy+Xcvb3/rAuEkBsAcA8AHlNK3ZTSEABEEPHhVlcqlbqIiBVE7DscjjdOp/Otz+frBgKBg2g0+iKRSDQ0TWvk8/mm3+8/RMTnhJArv4AEQbiFiCwejzdM01yzM1QoFJoA0AOABz+BCCF3OIiHoiiveQexWKwZCoXaqqoeer3eHu+SUjpFxE/fa7/wEEXx+kYQACwymUx9f3+/WS6XW7Va7WW73e4OBgN9MplMDMM4Mb9pLQjCB+7dCJJl+Yi3b5omm8/nbDwes9VqZV1J13VWrVZZq9Wy9qIovjsTxItdLpeVKxaLlnE4HFr7xWLx+yCuYDDIBEHgBjYajdh6vbZq+PrHoFwuZ+UjkQhbLpfnB/X7fZZMJq2zUqn0d6DZbMbcbjeTJGk3yG63XwMAcxuIq1KpWJCdIC4AePYjqNPpsHA4zLLZrPX83KxpGkun07tBqqpeRsQDSZKO2RYZhnEynU7f67p+VK/XX1FKPwPA7W0zN1MUpevxeHqyLJ+OhXF6LURcAcBHADjmg26z2S5t/AkA4C4iPkXEJ4jopJQ+QsT7iHiTEHJ1o+lf6iu3Ex6dTXMscQAAAABJRU5ErkJggg==">
	  </a>
	  
    </div>
  </div>

</nav>